In [1]:
import pandas as pd

In [2]:
topology1 = pd.read_csv('/Users/yeonjin/Documents/GitHub/Market-Entry-Analysis/topography_data_preprocessing/tf_seoul/topology_200619.csv')

In [3]:
# raw dataset
df = pd.read_csv('/Users/yeonjin/Documents/GitHub/Market-Entry-Analysis/topography_data_preprocessing/tf_seoul/tf_seoul_200617_after_jipgyegu.csv')

/Users/yeonjin/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df.columns

Index(['고유번호', '법정동코드', '법정동명', '대장구분코드', '대장구분명', '지번', '토지일련번호', '기준년도',
       '기준월', '지목코드', '지목명', '토지면적', '용도지역코드1', '용도지역명1', '용도지역코드2', '용도지역명2',
       '토지이용상황코드', '토지이동상황', '지형높이코드', '지형높이', '지형형상코드', '지형형상', '도로접면코드',
       '도로접면', '공시지가', '데이터기준일자', 'standard_date', '법정동코드_구', '법정동구'],
      dtype='object')

# 1. 최종본 요약을 위한 정리

- 단위 : 면적
- fillna(0)
- 제외 및 통합 데이터 선정

## 1. 토지이동상황

In [5]:
y = pd.DataFrame(df.groupby(['토지이동상황'])['토지면적'].sum()/1000).sort_values(by = '토지면적', ascending = False).reset_index()

In [8]:
print(df.loc[0,'토지이동상황'])

아파트

In [28]:
# for i in range(len(x['토지이동상황'].str.startswith('전'))):
#      if x['토지이동상황'].str.startswith('전')[i] == True:
#             x['토지이동상황'][i] = '전'

/Users/yeonjin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
jugeo = ['주거용', '단독', '연립', '다세대', '아파트', '주거나지', '주거기타']
sangup = ['상업용', '업무용', '상업', '업무나지', '상업나지', '상업기타', '업무기타']
jusang = ['주상복합용', '주상용', '주상나지', '주상기타']
gong = ['공업용', '공업나지', '공업기타']
jeon = ['전', '과수원', '전기타', '전창고', '전축사']
dap = ['답', '답기타', '답축사']
imya = ['임야', '조림', '자연림', '토지임야', '목장용지', '임야기타']

In [47]:
# for i in range(len(df)):
#     for j in list_up:
#         if(df.loc[i,'토지이동상황'] in j):
#             df.loc[i,'uage_listup'] = j[0]

In [48]:
list_up = [jugeo, sangup, jusang, gong, jeon, dap, imya]

In [49]:
# for i in range(len(df)):
#     if ( df.loc[i,'토지이동상황'] == '단독') | (df.loc[i,'토지이동상황'] == '연립') | (df.loc[i,'토지이동상황'] == '아파트') | (df.loc[i,'토지이동상황'] == '다세대') | (df.loc[i,'토지이동상황'] == '주거나지') | (df.loc[i,'토지이동상황'] == '주거기타') :
#         df.loc[i,'토지이용summary'] = '주거용'

In [8]:
df_usage = df['토지이동상황']

In [9]:
kk = ['' for i in range(985465)]

In [10]:
for k in list_up:
    #print(k[0])
    for i in range(len(df_usage)):
        if df_usage[i] in k:
            kk[i] = k[0]

In [11]:
kk2 = kk

In [12]:
for i in range(len(kk2)):
    if kk2[i] == '':
        kk2[i] = df_usage[i]

In [13]:
for i in range(len(kk2)):
    if (kk2[i] == '위험시설') or (kk2[i] == '유해.혐오시설') :
        kk2[i] = '위험.유해.혐오'

In [14]:
pd.DataFrame(kk2).isnull().sum()

0    88
dtype: int64

In [15]:
kk3 = pd.DataFrame(kk2).fillna('기타')

In [16]:
pd.DataFrame(kk2).drop_duplicates()

               0
0            주거용
1            도로등
6            공원등
65            임야
239          상업용
667        주상복합용
1364        주차장등
10829        하천등
26600       운동장등
35914        공업용
41936          전
74707   위험.유해.혐오
93780         기타
181231  여객자동차터미널
277734       NaN
391183     콘도미니엄
399481         답
420021      특수기타
566409       발전소
641865        공항
657818   골프장 대중제
867174   고속도로휴게소
919997       유원지

In [17]:
df['토지이용summary'] = kk3

In [50]:
#df.drop('uage_listup', axis = 1, inplace = True)
#df

## 사용할 데이터만 추리기

In [19]:
ndf = df[['지목명', '토지면적', '용도지역명1','토지이동상황', 
'지형높이', '지형형상', '도로접면', '공시지가', 
'데이터기준일자', 'standard_date', '법정동코드_구', '법정동구', '토지이용summary']]
ndf.head()

,지목명,토지면적,용도지역명1,토지이동상황,지형높이,지형형상,도로접면,공시지가,데이터기준일자,standard_date,법정동코드_구,법정동구,토지이용summary
0,대,15622.1,제1종일반주거지역,아파트,평지,사다리형,소로한면,3961000,2019-08-08,2019-01-01,11110,서울특별시 종로구,주거용
1,도로,21.4,제1종일반주거지역,도로등,평지,부정형,지정되지않음,1296000,2019-08-08,2019-01-01,11110,서울특별시 종로구,도로등
2,대,20.7,제1종일반주거지역,주거나지,완경사,부정형,맹지,3267000,2019-08-08,2019-01-01,11110,서울특별시 종로구,주거용
3,대,24.4,제1종일반주거지역,연립,평지,부정형,소로한면,4255000,2019-08-08,2019-01-01,11110,서울특별시 종로구,주거용
4,도로,48.9,제1종일반주거지역,도로등,평지,부정형,지정되지않음,1524000,2019-08-08,2019-01-01,11110,서울특별시 종로구,도로등

In [20]:
ndf.rename(columns = {'토지이동상황' : '토지이용상황'}, inplace = True)
ndf.head()

/Users/yeonjin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4223: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

,지목명,토지면적,용도지역명1,토지이용상황,지형높이,지형형상,도로접면,공시지가,데이터기준일자,standard_date,법정동코드_구,법정동구,토지이용summary
0,대,15622.1,제1종일반주거지역,아파트,평지,사다리형,소로한면,3961000,2019-08-08,2019-01-01,11110,서울특별시 종로구,주거용
1,도로,21.4,제1종일반주거지역,도로등,평지,부정형,지정되지않음,1296000,2019-08-08,2019-01-01,11110,서울특별시 종로구,도로등
2,대,20.7,제1종일반주거지역,주거나지,완경사,부정형,맹지,3267000,2019-08-08,2019-01-01,11110,서울특별시 종로구,주거용
3,대,24.4,제1종일반주거지역,연립,평지,부정형,소로한면,4255000,2019-08-08,2019-01-01,11110,서울특별시 종로구,주거용
4,도로,48.9,제1종일반주거지역,도로등,평지,부정형,지정되지않음,1524000,2019-08-08,2019-01-01,11110,서울특별시 종로구,도로등

In [21]:
ndf['토지이용summary'].isnull().sum()

0

### 개발 제한 구역 제외 후 사용
이유 :  # 개발제한구역은 종로구에서 차지하는 비율이 너무 큰데, 이건 오히려 행정상의 문제가 있으므로 일단 배제함

1. 지목명 [JMM]

In [22]:
a1 = pd.DataFrame(ndf[ndf['용도지역명1'] != '개발제한구역'].groupby(['법정동구', '지목명'])['토지면적'].sum()).reset_index()
#a1[a1['법정동구'].str.contains('종로구') ]
a1.head()

        법정동구   지목명        토지면적
0  서울특별시 강남구    공원   1725299.7
1  서울특별시 강남구  공장용지      8331.0
2  서울특별시 강남구    구거     16909.0
3  서울특별시 강남구     답    456559.4
4  서울특별시 강남구     대  17392871.6

In [23]:
# JMM : 지목명 - 해당 지목이 차지하는 면적을 총계냄
JMM = a1[(a1['지목명'] == '도로') | (a1['지목명'] == '공원') | (a1['지목명'] == '주차장') | (a1['지목명'] == '체육용지') | (a1['지목명'] == '학교용지')]

2. 용도지역명 []
해당 구에서 각 용도지역명이 차지하는 비중을 산출
3. 전체 면적 : 개발제한구역 제외 (a2_)

In [24]:
a2 = pd.DataFrame(ndf[ndf['용도지역명1'] != '개발제한구역'].groupby(['법정동구', '용도지역명1'])['토지면적'].sum()).reset_index()
a2.head(n=10)

        법정동구     용도지역명1        토지면적
0  서울특별시 강남구     생산녹지지역    236212.0
1  서울특별시 강남구     일반상업지역   2565674.3
2  서울특별시 강남구     자연녹지지역   5265004.9
3  서울특별시 강남구  제1종일반주거지역   3417645.1
4  서울특별시 강남구  제1종전용주거지역    564831.7
5  서울특별시 강남구  제2종일반주거지역   9023892.1
6  서울특별시 강남구  제3종일반주거지역  11165368.4
7  서울특별시 강남구      준주거지역    288040.4
8  서울특별시 강동구     근린상업지역     89381.8
9  서울특별시 강동구     일반상업지역    675907.3

In [25]:
a2_ =  pd.DataFrame(ndf[ndf['용도지역명1'] != '개발제한구역'].groupby(['법정동구'])['토지면적'].sum()).reset_index()
a2_.rename(columns = {'토지면적' : '전체토지면적'}, inplace = True)

In [26]:
a2_.head()

        법정동구      전체토지면적
0  서울특별시 강남구  32526668.9
1  서울특별시 강동구  18867441.8
2  서울특별시 강북구  11826227.8
3  서울특별시 강서구  29031995.2
4  서울특별시 관악구  21891931.8

In [27]:
a2_1 = pd.merge(a2, a2_, how = 'left' )
a2_1['yongdo_percent'] = round(a2_1['토지면적'] / a2_1['전체토지면적'], 3)

In [28]:
a2_1[a2_1['법정동구'].str.contains('종로구')]

          법정동구     용도지역명1       토지면적      전체토지면적  yongdo_percent
177  서울특별시 종로구     일반상업지역  2938625.4  15182321.7           0.194
178  서울특별시 종로구     자연녹지지역  2297845.3  15182321.7           0.151
179  서울특별시 종로구  제1종일반주거지역  4385161.1  15182321.7           0.289
180  서울특별시 종로구  제1종전용주거지역  1581767.0  15182321.7           0.104
181  서울특별시 종로구  제2종일반주거지역  2918539.3  15182321.7           0.192
182  서울특별시 종로구  제3종일반주거지역   852888.7  15182321.7           0.056
183  서울특별시 종로구      준주거지역   207494.9  15182321.7           0.014

In [29]:
a2_1[a2_1['법정동구'].str.contains('마포구')]

          법정동구     용도지역명1       토지면적      전체토지면적  yongdo_percent
94   서울특별시 마포구     근린상업지역    87846.3  23659827.4           0.004
95   서울특별시 마포구     유통상업지역    53353.8  23659827.4           0.002
96   서울특별시 마포구     일반상업지역   874896.9  23659827.4           0.037
97   서울특별시 마포구     자연녹지지역  9182904.3  23659827.4           0.388
98   서울특별시 마포구  제1종일반주거지역   577241.0  23659827.4           0.024
99   서울특별시 마포구  제2종일반주거지역  8335079.1  23659827.4           0.352
100  서울특별시 마포구  제3종일반주거지역  3660023.2  23659827.4           0.155
101  서울특별시 마포구      준주거지역   888482.8  23659827.4           0.038

In [140]:
a2_1[a2_1['법정동구'].str.contains('서대문구')]

           법정동구     용도지역명1       토지면적      전체토지면적  yongdo_percent
102  서울특별시 서대문구     근린상업지역     4362.1  16848693.0           0.000
103  서울특별시 서대문구     일반상업지역   275396.0  16848693.0           0.016
104  서울특별시 서대문구     자연녹지지역   268897.5  16848693.0           0.016
105  서울특별시 서대문구  제1종일반주거지역  6982106.1  16848693.0           0.414
106  서울특별시 서대문구  제1종전용주거지역   340960.4  16848693.0           0.020
107  서울특별시 서대문구  제2종일반주거지역  5493759.5  16848693.0           0.326
108  서울특별시 서대문구  제3종일반주거지역  3168727.3  16848693.0           0.188
109  서울특별시 서대문구      준주거지역   314484.1  16848693.0           0.019

4. 용도지역명 percentage : HEIGHT

In [31]:
YDJM = a2_1

In [32]:
ndf2 = ndf[ndf['용도지역명1'] != '개발제한구역']

In [33]:
## 지형높이
H1 = pd.DataFrame(ndf2.groupby(['법정동구', '지형높이'])['토지면적'].sum()).reset_index()

In [34]:
Merged = pd.merge(H1, a2_, how = 'left')
Merged['height_percent']  = round(Merged['토지면적'] / Merged['전체토지면적'] , 3)

In [35]:
HEIGHT = Merged

* 개별 테이블 취합

In [36]:
summary = [JMM, a2_, YDJM, HEIGHT]

5. 가격 : 주거용, 상업용, 주상복합용 세 가지 공시지가만 정보로 포함
* 실거래가 = 공시지가 * 3.8    
https://blog.naver.com/PostView.nhn?blogId=dasolne&logNo=221373938585

In [38]:
for_price = ndf2[(ndf2['토지이용summary'] == '주거용') | (ndf2['토지이용summary'] == '상업용') | (ndf2['토지이용summary'] == '주상복합용')]
Price = pd.DataFrame(for_price.groupby(['법정동구', '토지이용summary'])['공시지가'].sum()).reset_index()

In [39]:
Price

         법정동구 토지이용summary          공시지가
0   서울특별시 강남구         상업용  184887611000
1   서울특별시 강남구         주거용   71690147000
2   서울특별시 강남구       주상복합용   21043941000
3   서울특별시 강동구         상업용   21786622000
4   서울특별시 강동구         주거용   48269211000
..        ...         ...           ...
70   서울특별시 중구         주거용   32783311000
71   서울특별시 중구       주상복합용   10989922000
72  서울특별시 중랑구         상업용   16236365000
73  서울특별시 중랑구         주거용   58548872800
74  서울특별시 중랑구       주상복합용   15874891000

[75 rows x 3 columns]

In [40]:
summary.append(Price)

## 1차 테이블 디자인
* shape : (25, n)
* summary[1] 기준 병합
* KEY = '법정동구'
* Pivot
    * summary[0] : (지목명, 토지면적)
    * summary[2] : (용도지역명1, yongdo_percent) 토지 면적 비율 대신 면적 자체 값을 사용하였음. 집계구 내부에서의 비교가 아닌, 집계구간 비교가 더욱 중요한 상황이므로 / 또 
    * summary[3] : (지형높이, 토지면적, height_percent)
    * summary[4] : (토지이용summary, 공시지가) : 주거용, 상업용, 주상복합용 공시지가 금액
* 취합된 dataframe name = topo

##### summary[0]

In [72]:
summary[0]['attach'] = '토지면적'

/Users/yeonjin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [80]:
summary[0]['지목명'] = summary[0]['지목명'] + '_토지면적'

/Users/yeonjin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [85]:
#summary[0].drop(['attach', '지목명_a'], axis = 1, inplace = True)
summary[0]

          법정동구        지목명       토지면적
0    서울특별시 강남구    공원_토지면적  1725299.7
5    서울특별시 강남구    도로_토지면적  5913425.2
14   서울특별시 강남구   주차장_토지면적    64679.6
17   서울특별시 강남구  체육용지_토지면적     6908.1
19   서울특별시 강남구  학교용지_토지면적  1514434.1
..         ...        ...        ...
475   서울특별시 중구  학교용지_토지면적   397424.8
476  서울특별시 중랑구    공원_토지면적   965258.6
482  서울특별시 중랑구    도로_토지면적  2683844.0
492  서울특별시 중랑구   주차장_토지면적    44150.3
496  서울특별시 중랑구  학교용지_토지면적   682905.5

[117 rows x 3 columns]

In [91]:
s_2 = pd.DataFrame(summary[0].pivot('법정동구','지목명','토지면적').reset_index())
s_2 = s_2.fillna(0)

In [94]:
topo = pd.merge(summary[1], s_2)

In [97]:
topo.head()

        법정동구      전체토지면적    공원_토지면적    도로_토지면적  주차장_토지면적  체육용지_토지면적  학교용지_토지면적
0  서울특별시 강남구  32526668.9  1725299.7  5913425.2   64679.6     6908.1  1514434.1
1  서울특별시 강동구  18867441.8  1214694.1  3110669.3  112586.2        0.0   813442.0
2  서울특별시 강북구  11826227.8   726748.8  1980021.6   25974.1        0.0   554917.2
3  서울특별시 강서구  29031995.2  1192830.3  4123851.3   38416.9    39315.7   862655.3
4  서울특별시 관악구  21891931.8   604465.4  2595406.0   17701.1    10486.3   937897.3

###### summary[2]

In [59]:
summary[2].rename({'용도지역명1':'용도지역명'}, axis = 1, inplace = True)

In [98]:
summary[2]['용도지역명'].drop_duplicates()

0         생산녹지지역
1         일반상업지역
2         자연녹지지역
3      제1종일반주거지역
4      제1종전용주거지역
5      제2종일반주거지역
6      제3종일반주거지역
7          준주거지역
8         근린상업지역
24        유통상업지역
31         준공업지역
67     제2종전용주거지역
160       보전녹지지역
190       중심상업지역
Name: 용도지역명, dtype: object

In [111]:
s_22 = summary[2].pivot('법정동구', '용도지역명', '토지면적').fillna(0)

In [112]:
#summary[2].pivot('법정동구', '용도지역명', 'yongdo_percent').fillna(0)

In [116]:
topo =pd.merge(topo, s_22.reset_index())

###### summary[3]

In [121]:
s3 = summary[3].pivot('법정동구', '지형높이', '토지면적').fillna(0)
topo = pd.merge(topo, s3.reset_index())

###### summary[4]

In [123]:
summary[4]['토지이용summary'] = summary[4]['토지이용summary'] + '_공시지가'

In [126]:
s4 = summary[4].pivot('법정동구', '토지이용summary','공시지가').fillna(0)
topo =pd.merge(topo, s4.reset_index())

## 갈무리된 topology data

In [133]:
topo.head(n=2)

,법정동구,전체토지면적,공원_토지면적,도로_토지면적,주차장_토지면적,체육용지_토지면적,학교용지_토지면적,근린상업지역,보전녹지지역,생산녹지지역,...,중심상업지역,고지,급경사,완경사,저지,지정되지않음,평지,상업용_공시지가,주거용_공시지가,주상복합용_공시지가
0,서울특별시 강남구,32526668.9,1725299.7,5913425.2,64679.6,6908.1,1514434.1,0.0,0.0,236212.0,...,0.0,40753.0,33186.4,1531806.3,1366.0,10506713.1,20412844.1,184887611000,71690147000,21043941000
1,서울특별시 강동구,18867441.8,1214694.1,3110669.3,112586.2,0.0,813442.0,89381.8,0.0,0.0,...,0.0,0.0,366.0,1590083.1,671037.0,4732595.2,11873360.5,21786622000,48269211000,24771086000

In [130]:
topo.to_csv('/Users/yeonjin/Documents/GitHub/Market-Entry-Analysis/topography_data_preprocessing/tf_seoul/topology_seoul_final.csv')